{% extends "mainApp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
    <style type="text/css">
        .heading {
            padding: 10px 0px 30px 0px;
        }
    </style>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-sm-4">
                <h4 class=heading>Please provide some basic information to simplify report generation:</h4>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-4 content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom  mb-4">Register</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Sign up</button>
                    </div>
                </form>

                <div class="border-top pt-3">
                    <big class="text-muted">
                        Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
                    </big>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}