<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--shrink-to-fit=no-->

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        div#header {
            margin: auto;
            padding-top: 75px;
            /*margin-top: 473px;*/
        }

        div#content {
            padding-top: 50px;
            position: relative;
            background-image: url("/static/mainApp/bg_laser.jpg");
            background-position: center;
            background-repeat: no-repeat;
            color: white;
        }

        .img {
            /*max-width: 100%;*/
            height: 250px;
            width: auto;
        }
    </style>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <!--Navigation Bar-->
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <!--Text in nav bar-->
            <a class="navbar-brand" href="/">
                Auto-Report
            </a>
            <!--Burger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTarget" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Links-->
            <div class="collapse navbar-collapse" id="navbarTarget">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="/logout">Logout</a>
                    {% else %}
                    <a class="nav-link" href="/login">Login</a>
                    {% endif %}
                    <a class="nav-link" href="/profile">Profile</a>
                </div>
            </div>

        </div>
    </nav>

    <div id ="header", name ="header", class="container-fluid">
        <div class="row justify-content-center">
            <h1>Welcome to Auto Report</h1>
        </div>

        <!--Display messages if available-->
        {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="row justify-content-center">
            {% load static %}
            <img class=img src="{% static 'mainApp/report.png' %}" alt="Image">
        </div>
    </div>

    <div id ="content", name ="content", class="container-fluid">
        <div class="row justify-content-center">
            {% if user.is_authenticated %}
                {% block loggedIn %}
                {% endblock %}
            {% else %}
                {% block notLoggedIn %}
                {% endblock %}
            {% endif %}
        </div>

        <div class="row justify-content-center">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>