{% extends "mainApp/base.html" %}

{% block title %}Report detail{% endblock %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.image.url }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <p style="color:blue;">
                    {{ object.author }} &nbsp;
                    <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
                </p>
                <h2 class="article-title">{{ object.title }}</h2>
                <hr style="height:2px; color:black; background-color:#333;">
                <p>{{object.description}}</p>
                <p>Laser source: {{object.laserSource}}</p>
                <p>Machine: {{object.machine}}</p>
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'report-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'report-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock content %}